/* Only hide the Canvas student grade table while our script says "processing" */
body.responsive_student_grades_page.cg_processing_grades table.course_details.student_grades {
    display: none !important;
}
.cg-admin-padding {  padding: 24px;}

/*********************************************************************/
/***** BEGIN DESIGN TOOLS THEME IMPORT & CUSTOMIZATION  **************/
/*********************************************************************/
/* Import statements need to be at the top of your CSS file */
/* For Main CSS file */
@import url(https://designtools.ciditools.com/css/themes.css);
/* For Mobile app CSS file */
/*@import url(https://designtools.ciditools.com/css/app.css);*/
/* Institution color customizations */
@import url(https://designtools.ciditools.com/css/inst_theme_overrides.css);
/* Theme Colors */
:root {
    --dt-color-primary: #000000;
    --dt-color-primary-contrast: #FFFFFF;
    --dt-color-primary-dark-text: #000000;
    --dt-color-secondary: #F6C72E;
    --dt-color-secondary-contrast: #000000;
    --dt-color-secondary-dark-text: #474747;
    --dt-color-accent: #D6AD2A;
    --dt-color-accent-contrast: #000000;
    --dt-color-graybg: #E6E6E6;
    --dt-color-graybg-contrast: #000000;
}
/*********************************************************************/
/***** END DESIGN TOOLS HEME IMPORT & CUSTOMIZATION   ****************/
/*********************************************************************/